In [1]:
from datetime import datetime

date_string = "2013-07-04"
date_object = datetime.strptime(date_string, "%Y-%m-%d")
timestamp = date_object.timestamp()
timestamp

1372888800.0

In [2]:
date_object

datetime.datetime(2013, 7, 4, 0, 0)

In [3]:
def normalize_date(date):
    date_object = datetime.strptime(date, "%Y-%m-%d")
    start_of_year = datetime(date_object.year, 1, 1).timestamp()
    end_of_year = datetime(date_object.year, 12, 31).timestamp()
    date_float = (date_object.timestamp() - start_of_year) / (end_of_year - start_of_year) * 100
    return date_float

In [5]:
normalize_date("2014-11-04")

84.34065934065934

In [6]:
def normalize_time(time):
    time_object = datetime.strptime(time, "%H:%M:%S")
    time_float = (time_object.hour * 3600 + time_object.minute * 60 + time_object.second) / 86400 * 100
    return time_float

In [9]:
normalize_time("23:00:00")

95.83333333333334

In [10]:
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']

# 使用 zip 函数合并
combined_list = list(zip(list1, list2))

print(combined_list)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]